In [ ]:
!pip install mysql-connector-python

In [1]:
import mysql.connector as connector

In [2]:
connection = connector.connect(user = "ll_admin", password = "eAZb^3Hba*7t37i", database = "littlelemondb")

In [3]:
cursor=connection.cursor()

In [4]:
show_tables_query = """SHOW tables""" 
cursor.execute(show_tables_query)
results = cursor.fetchall()
for result in results:
    print(result)

('addresses',)
('bookings',)
('customers',)
('delivery',)
('menuitems',)
('orders',)
('ordersview',)
('staff',)

In [5]:
orders_query = """SELECT CustomerName, PhoneNumber, BillAmount 
FROM Customers INNER JOIN Orders ON Customers.CustomerID = Orders.CustomerID
WHERE BillAmount > 60"""
cursor.execute(orders_query)
print("Customers with orders greater than $60:")
results = cursor.fetchall()
for result in results:
    print(result)

Customers with orders greater than $60:
('Vanessa McCarthy', 757536378, Decimal('150.00'))
('Marcos Romero', 757536379, Decimal('200.00'))
('Hiroki Yamane', 757536376, Decimal('120.00'))
('Anna Iversen', 757536375, Decimal('70.00'))
('Altay Ayhan', 757636378, Decimal('200.00'))
('Jane Murphy', 753536379, Decimal('125.00'))
('Laurina Delgado', 754536376, Decimal('150.00'))
('Karl Pederson', 757936374, Decimal('220.00'))
('Marcos Romero', 757536379, Decimal('200.00'))
('Altay Ayhan', 757636378, Decimal('200.00'))

In [6]:
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.